<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomeChkes</title>
    <link rel="icon" href="/img/logo2.svg" type="image/icon type" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <script>
    const USER_ID = "<%= username %>"
  </script>
  <body>
    <div name="logo">
      <img id="logo2" src="/img/logo2.svg" />
      <img id="logo" src="/img/logo.png" />
    </div>
    <div class="container">
      <h2>Welcome, <%= username %></h2>

      <h3>RoomChkes</h3>
      <form id="create-room-form">
        <div class="form-group">
          <label for="password">RoomChkes Password</label>
          <input type="password" id="password" name="password" />
        </div>
        <button type="submit">Create RoomChkes</button>
      </form>

      <h3>Join RoomChkes</h3>
      <form id="join-room-form">
        <div class="form-group">
          <label for="roomId">RoomChkes ID</label>
          <input type="text" id="roomId" name="roomId" required />
        </div>
        <div class="form-group">
          <label for="joinPassword">RoomChkes Password</label>
          <input type="password" id="joinPassword" name="password" />
        </div>
        <button type="submit">Join Room</button>
      </form>
    </div>

    <script src="/js/home-script.js"></script>
  </body>
</html>
