<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<script src="js/home-script.js"></script>
<body>
  <div class="container">
    <h2>Welcome to the Zoom Clone</h2>
    <p>Hello, <%= username %>!</p>
    <button onclick="startNewRoom()">Start a New Room</button>
    <br><br>
    <form id="joinRoomForm" method="GET" onsubmit="joinRoom(event)">
        <label for="roomId">Enter Room ID:</label>
        <input type="text" id="roomId" name="roomId" required>
        <button type="submit">Join Room</button>
      </form>
  </div>

  
</body>
</html>
